<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}Food Entries{% endblock %}

{% block content %}
<h3>Food Entries Listing</h3>

<table>
    <thead>
        <tr>
            <th>Food Entry ID</th>
            <th>Tracked Day Date</th>
            <th>Client Name</th>
            <th>Food Name</th>
            <th>Gram Weight</th>
            <th>Calories</th>
            <th>Note</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for foodentry in foodentries %}
        <tr>
            <td>{{ foodentry.foodEntryID }}</td>
            <td>{{ foodentry.trackedDayDate }}</td>
            <td>{{ foodentry.clientName }}</td>
            <td>{{ foodentry.foodName }}</td>
            <td>{{ foodentry.foodEntryGramWeight }}</td>
            <td>{{ foodentry.foodEntryCalories }}</td>
            <td>{{ foodentry.foodEntryNote }}</td>
            <td>
                <button onclick="editFoodEntry({{ foodentry.foodEntryID }})">Edit</button>
            </td>
            <td>
                <button onclick="deleteFoodEntry({{ foodentry.foodEntryID }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add Food Entry</h3>
<form method="POST" action="/add_food_entry">
    <table>
        <thead>
            <tr>
                <th>Tracked Day Date</th>
                <th>Client Name</th>
                <th>Food Name</th>
                <th>Gram Weight</th>
                <th>Calories</th>
                <th>Note</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="date" id="trackedDayDate" name="trackedDayDate" required></td>
                <td><input type="text" id="clientName" name="clientName" required></td>
                <td><input type="text" id="foodName" name="foodName" required></td>
                <td><input type="number" id="gramWeight" name="gramWeight" required></td>
                <td><input type="number" id="calories" name="calories" required></td>
                <td><input type="text" id="note" name="note"></td>
                <td colspan="5"><button type="submit">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}