<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KiloJulia Homepage</title>
</head>

<body>
    <h1>KiloJulia Homepage</h1>
    <ul>
        <li><a href="/staff">Staff</a></li>
        <li><a href="/clients">Clients</a></li>
        <li><a href="/staffclients">Staff-Client Pairs</a></li>
        <li><a href="/foods">Foods</a></li>
        <li><a href="/trackeddays">Tracked Days</a></li>
        <li><a href="/foodentries">Food Entries</a></li>
        <li><a href="/exerciseentries">Exercise Entries</a></li>
    </ul>
</body>

</html>