<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}KiloJulia Home{% endblock %}

{% block content %}

<table style="margin-top: 2%; width: 100%;">
    <tr>
        <th style="text-align: center;">
            <h3>Welcome to KiloJulia. Select a page to get started.</h3>
        </th>
    </tr>
    <tr>
        <td style="text-align: center;">
            <div style="display: inline-block; text-align: left;">
                <ul style="padding: 0; list-style-type: disc;">
                    <li><b><a href="/staff">Staff:</a></b> Manage the clinic's staff and their availability.</li>
                    <li><b><a href="/clients">Clients:</a></b> Manage the clinic's clients and their biometric data.
                    </li>
                    <li><b><a href="/staffclients">Staff-Client Assignments:</a></b> Assign staff members to clients and
                        manage their assignments.</li>
                    <li><b><a href="/foods">Foods:</a></b> Manage the foods database that is used to create food
                        entries.</li>
                    <li><b><a href="/trackeddays">Tracked Days:</a></b> Track days for different clients to get calorie
                        counts.</li>
                    <li><b><a href="/foodentries">Food Entries:</a></b> Enter a client's meal on a particular tracked
                        day.</li>
                    <li><b><a href="/exerciseentries">Exercise Entries:</a></b> Enter a client's exercise on a
                        particular tracked day.</li>
                </ul>
            </div>
        </td>
    </tr>
</table>

{% endblock %}