<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}KiloJulia Home{% endblock %}

{% block content %}

<table style="margin-top: 2%; width: 100%;">
    <th style="text-align: center;">
        <h3>Welcome to KiloJulia. Select a page to get started.</h3>
    </th>
</table>

{% endblock %}