<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}Staff-Client Assignment{% endblock %}

{% block content %}

<h3>Staff-Client Assignment Listing</h3>

<table>
    <thead>
        <tr>
            <th>Staff ID</th>
            <th>Staff Name</th>
            <th>Client ID</th>
            <th>Client Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for staffclient in staffclients %}
        <tr id="staffclient-{{ staffclient.staffID }}-{{ staffclient.clientID }}">
            <td>{{ staffclient.staffID }}</td>
            <td>{{ staffclient.staffName }}</td>
            <td>{{ staffclient.clientID }}</td>
            <td>{{ staffclient.clientName }}</td>
            <td>
                <button
                    onclick="editStaffclient('{{ staffclient.staffID }}', '{{ staffclient.clientID }}')">Edit</button>
            </td>
            <td>
                <button
                    onclick="confirmDelete('{{ staffclient.staffID }}', '{{ staffclient.clientID }}')">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Assign Staff to Client</h3>
<table>
    <form method="POST" action="/assign_staff_clients">
        <thead>
            <tr>
                <th>Staff Name</th>
                <th>Client Name</th>
                <th>Assign</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="search-input" name="searchStaff" placeholder="Search Staff..."></td>
                <td><input type="text" class="search-input" name="searchClient" placeholder="Search Client..."></td>
                <td>
                    <button type="submit">Assign</button>
                </td>
            </tr>
        </tbody>
    </form>
</table>

<script>
    function editStaffclient(staffID, clientID) {
        let row = document.getElementById('staffclient-' + staffID + '-' + clientID);
        let cells = row.getElementsByTagName('td');

        let staffName = cells[1].innerText;
        let clientName = cells[3].innerText;

        cells[1].innerHTML = '<input type="text" value="' + staffName + '">';
        cells[3].innerHTML = '<input type="text" value="' + clientName + '">';
        cells[4].innerHTML = '<button onclick="updateStaffclient(\'' + staffID + '\', \'' + clientID + '\')">Update</button>';
    }

    function updateStaffclient(staffID, clientID) {
        let row = document.getElementById('staffclient-' + staffID + '-' + clientID);
        let cells = row.getElementsByTagName('td');

        // Get the updated values from the input fields
        let staffName = cells[1].getElementsByTagName('input')[0].value;
        let clientName = cells[3].getElementsByTagName('input')[0].value;

        // Update the table cells with the new values
        cells[1].innerHTML = staffName;
        cells[3].innerHTML = clientName;
        cells[4].innerHTML = '<button onclick="editStaffclient(\'' + staffID + '\', \'' + clientID + '\')">Edit</button>';

        // TODO: Implement the logic to send the updated data to the server and update the database
    }

    function confirmDelete(staffID, clientID) {
        if (confirm('Are you sure you want to delete this record?')) {
            // TODO: Implement the logic to delete the record from the database
        }
    }
</script>

{% endblock %}