<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}Staff{% endblock %}

{% block content %}

<h3>Staff Listing</h3>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Capacity</th>
            <th>Note</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for staff in staff %}
        <tr>
            <td>{{ staff.staffID }}</td>
            <td>{{ staff.staffName }}</td>
            <td>{{ staff.staffEmail }}</td>
            <td>{{ staff.staffCapacity }}</td>
            <td>{{ staff.staffNote }}</td>
            <td>
                <button onclick="editStaff({{ staff.staffID }})">Edit</button>
            </td>
            <td>
                <button onclick="deleteStaff({{ staff.staffID }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>Add Staff</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Capacity</th>
            <th>Note</th>
            <th>Add</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="text" id="addStaffName" name="staffName" required></td>
            <td><input type="email" id="addStaffEmail" name="staffEmail" required></td>
            <td>
                <select id="addStaffCapacity" name="staffCapacity" required>
                    <option value="Available">Available</option>
                    <option value="Not Available">Not Available</option>
                </select>
            </td>
            <td><input type="text" id="addStaffNote" name="staffNote"></td>
            <td><button type="submit">Add</button></td>
        </tr>
    </tbody>
</table>

{% endblock %}