<!--
Citation for the following code:
Date: 09/05/2024
Authors: Rami Albaroudi and Mohamed Saud, Group 13
Original work with some Jinja expressions adapted from https://github.com/osu-cs340-ecampus/flask-starter-app?tab=readme-ov-file#dynamically-displaying-data-in-a-template
-->

{% extends "template.j2" %}

{% block title %}Tracked Days{% endblock %}

{% block content %}
<h3>Tracked Days Listing</h3>

<table>
    <thead>
        <tr>
            <th>Tracked Day ID</th>
            <th>Date</th>
            <th>Client Name</th>
            <th>Total Calories</th>
            <th>Calorie Target</th>
            <th>Calorie Balance</th>
            <th>Note</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for trackedday in trackeddays %}
        <tr>
            <td>{{ trackedday.trackedDayID }}</td>
            <td>{{ trackedday.trackedDayDate }}</td>
            <td>{{ trackedday.clientName }}</td>
            <td>{{ trackedday.trackedDayTotalCalories }}</td>
            <td>{{ trackedday.trackedDayCalorieTarget }}</td>
            <td>{{ trackedday.trackedDayTotalCalories - trackedday.trackedDayCalorieTarget }}</td>
            <td>{{ trackedday.trackedDayNote }}</td>
            <td>
                <button onclick="editTrackedDay({{ trackedday.trackedDayID }})">Edit</button>
            </td>
            <td>
                <button onclick="deleteTrackedDay({{ trackedday.trackedDayID }})">Delete</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<h3>Add Tracked Day</h3>
<form method="POST" action="/add_tracked_day">
    <table>
        <thead>
            <tr>
                <th>Date</th>
                <th>Client Name</th>
                <th>Calorie Target</th>
                <th>Note</th>
                <th>Add</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="date" id="trackedDayDate" name="trackedDayDate" required></td>
                <td>
                    <input type="text" id="clientName" name="clientName" list="clientNames" autocomplete="on" required>
                    <datalist id="clientNames">
                        {% for client in clients %}
                        <option data-client-id="{{ client.clientID }}"
                            data-calorie-target="{{ client.clientCalorieTarget }}">
                            {{ client.clientName }}
                        </option>
                        {% endfor %}
                    </datalist>
                </td>
                <td><input type="number" id="trackedDayCalorieTarget" name="trackedDayCalorieTarget"></td>
                <td><input type="text" id="trackedDayNote" name="trackedDayNote"></td>
                <td><button type="submit">Add</button></td>
            </tr>
        </tbody>
    </table>
</form>
{% endblock %}